doctype html
html
  head
    title Login Page
  body
    h2 Login Page
    form(action="/login" method="post")
      div
        label(for="username") Username:
        input(type="text" id="username" name="username" required)
      div
        label(for="password") Password:
        input(type="password" id="password" name="password" required)
      div
        input(type="submit" value="Login")
