doctype html
html
  head
    title Register Page
  body
    h2 Register Page
    form(action="/register" method="post")
      div
        label(for="email") Email:
        input(type="email" id="email" name="email" required)
      div
        label(for="password") Password:
        input(type="password" id="password" name="password" required)
      div
        input(type="submit" value="Register")
