doctype html
html
  head
    title Register Page
  body
    h2 Register Page
    form(action="/register" method="post")
      div
        label(for="username") Username:
        input(type="text" id="username" name="username" required)
      div
        label(for="password") Password:
        input(type="password" id="password" name="password" required)
      div
        input(type="submit" value="Register")
