mixin sort()
    div(sort)
        select(
            class="form-control"
            name="sort"
            sort-select
        )
            option(value="position-desc") Decreasing position
            option(value="position-asc" ) Increasing position
            option(value="price-desc") Decreasing price
            option(value="price-asc") Increasing price
            option(value="title-asc") Title A - Z
            option(value="title-desc") Title Z - A
        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Clear