extends ../../layouts/default.pug

block main
  <iframe width="1200" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYjY5M2M1ZjEtNGExNy00Y2E3LWEwNmYtYTE0NGI0NDJiMWIwIiwidCI6IjZhYzJhZDA2LTY5MmMtNDY2My1iN2FmLWE5ZmYyYTg2NmQwYyIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>